<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.corsair.CorsairAudioKext</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.0.9</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AudioDevice1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOAudioEngineIsHidden</key>
				<true/>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>2572</integer>
				<integer>6947</integer>
				<integer>6949</integer>
				<integer>6951</integer>
				<integer>2603</integer>
				<integer>2575</integer>
				<integer>6953</integer>
				<integer>6954</integer>
				<integer>2608</integer>
				<integer>2609</integer>
				<integer>2583</integer>
				<integer>2589</integer>
				<integer>2580</integer>
				<integer>2582</integer>
				<integer>2586</integer>
				<integer>2584</integer>
				<integer>2590</integer>
				<integer>2610</integer>
				<integer>2619</integer>
				<integer>2616</integer>
				<integer>2591</integer>
				<integer>2622</integer>
				<integer>2624</integer>
				<integer>2621</integer>
				<integer>2623</integer>
				<integer>2626</integer>
				<integer>2628</integer>
				<integer>2625</integer>
				<integer>2627</integer>
				<integer>2639</integer>
				<integer>2641</integer>
				<integer>2645</integer>
				<integer>2643</integer>
				<integer>2647</integer>
				<integer>2642</integer>
				<integer>2646</integer>
				<integer>2637</integer>
				<integer>2648</integer>
			</array>
			<key>idVendor</key>
			<integer>6940</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleUSBMergeNub</key>
		<string>1.8.3b1</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
